*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width:768px){
  .container{
    height: 375px;
    width: 768px;
  }
  button{
    font-size: xx-large;
  }

  ul{
    visibility: hidden;
  }
}